<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="nav-logout">
    <a class="navbar-brand" href="#"><img class="navbar-brand" src="https://image.flaticon.com/icons/png/512/61/61457.png" width="40" height="50"></a>
    <% if (locals.email) { %>
    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-danger logout-button btn-sm">Logout</button>
    </form>
    <div class="welcome-div" style="color: white;">
      <span>Welcome - <%= email %></span>
    </div>
    <% } %>
  </div>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="nav flex-column flex-nowrap">
   <% if (!locals.email) { %>
      <li>
        <a class="nav-link text-light text-nowrap " href="/login"><span>Login</span></a>
      </li>
      <li>
        <a class="nav-link text-light text-nowrap "href="/register"><span>Register</span></a>
      </li>
    <% } else { %>
      <ul class="nav flex-row flex-nowrap">
      <li>
        <a class="nav-link text-light text-nowrap " href="/passwords">My Passwords</a>
      </li>
      <li>
        <a class="nav-link text-light text-nowrap" href="/passwords/new">New Password</a>
      </li>
      <li>
        <a class="nav-link text-light text-nowrap" href="/orgs">My Organizations</a>
      <li>
        <a class="nav-link text-light text-nowrap" href="/orgs/new">New Organization</a>
      </li>
    </ul>
    <!-- </ul>
    <div class="nav-item dropdown">
      <div class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Manage
        <div class="dropdown-menu" data-bs-display="static" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/passwords">My Passwords</a>
          <a class="dropdown-item" href="/passwords/new">New Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/orgs">My Organizations</a>
          <a class="dropdown-item" href="/orgs/new">New Organization</a>
          <div class="dropdown-divider"></div>
          <form class="dropdown-item" method="POST" action="/logout">
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
        </div>
      </div>
    </div> -->
    <% } %>
  </div>
</nav>
