<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="nav-logout">
    <a class="navbar-brand" href="/passwords"><i class="bi bi-shield-lock-fill text-white" width="10px" height="10px"></i></a>
    <% if (locals.email) { %>

    <div class="welcome-div-large">
      <span><%= email %></span>
    </div>
    <% } %>
  </div>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <% if (!locals.email) { %>
      <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link text-light text-nowrap" href="/login"><span>Login</span></a>
      </li>
      <li>
        <a class="nav-link text-light text-nowrap"href="/register"><span>Register</span></a>
      </li>
    <% } else { %>
      <div class="welcome-div-small py-2" style="color: white;">
        <span><%= email %></span>
      </div>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light text-nowrap" href="/passwords">My Passwords</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-nowrap" href="/passwords/new">New Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-nowrap" href="/orgs">My Organizations</a>
      <li class="nav-item">
        <a class="nav-link text-light text-nowrap" href="/orgs/new">New Organization</a>
      </li>
    </ul>
    <form method="POST" action="/logout" class="ml-auto">
      <button type="submit" class="btn btn-danger logout-button btn-sm">Logout</button>
    </form>
    <% } %>
  </div>
</nav>
