
  <div class="modal-edit-org">
    <div class="warning-text">
      <span>Are you sure you want to update this organization?</span>
    </div>

    <div class="d-flex button-row justify-content-start">
      <form action="/orgs/<%= orgId %>/update" method="POST" class="form-group pt-2">
        <button type="submit" id="org-update" class="btn btn-primary">Edit Name</button>
        <button type="button" class="modal-cancel btn btn-secondary ml-1">Cancel</button>
      </form>
    </div>

  </div>
