<div class="modal-bg">

  <div class="modal-pw-content">
    <div class="warning-text">
      <span>Are you sure you want to delete this password?</span>
    </div>

    <div class="button-row">
      <form action="/passwords/<%= password.id %>/delete" method="POST" class="delete">
        <button type="submit" class="btn btn-danger pw-button">Delete</button>
        <button type="button" class="modal-cancel btn btn-secondary">Cancel</button>
      </form>
    </div>

  </div>
</div>
