
  <div class="modal-delete-org-user">
    <div class="warning-text">
      Are you sure you want to remove user <span class="member-id"></span>?</span>
    </div>

    <form action="<%= orgId %>/<%= member.id %>/delete" class="delete-user-form" method="POST">
      <button type="submit" class="btn-danger btn">Delete user</button>
      <button type="button" class="modal-cancel btn btn-secondary ml-1">Cancel</button>
    </form>

  </div>
