<div class="container">
  <h3>Customize your password</h3>
  <form class="customize">
    <div class="form-field">
      <label for="pw-length">Password length</label>
      <input type="text"id="pw-length">
    </div>
    <div class="form-field">
      <label for="pw-length">Contains lowercase characters?</label>
      <input type="checkbox"id="pw-lowercase">
    </div>
    <div class="form-field">
      <label for="pw-length">Contains uppercase characters?</label>
      <input type="checkbox"id="pw-uppercase">
    </div>
    <div class="form-field">
      <label for="pw-length">Contains numbers?</label>
      <input type="checkbox"id="pw-uppercase">
    </div>
  </form>
  <button class="pw-cancel">Cancel</button>
  <button class="pw-save">Save</button>
</div>
