<div class="modal-bg">

  <div class="modal-content">
    <h3>Customize your password</h3>


    <form class="customize">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Password length:</span>
  </div>
  <div class="col-xs-1">
    <input type="text" class="length-input form-control pw-length" id="basic-url" aria-describedby="basic-addon">
  </div>
</div>

<h5>Should your password contain...</h5>

<div class="pw-error"></div>

<div class="input-group mb-3" >
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">lowercase characters?</span>
    <button class="btn btn-outline-secondary lowercase-choice-yes shadow-none" type="button" aria-pressed="true">Yes</button>
    <button class="btn btn-outline-secondary lowercase-choice-no shadow-none" type="button" aria-pressed="true">No</button>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">uppercase characters?</span>
    <button class="btn btn-outline-secondary uppercase-choice-yes shadow-none" type="button">Yes</button>
    <button class="btn btn-outline-secondary uppercase-choice-no shadow-none" type="button">No</button>
  </div>

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">numbers?</span>
    <button class="btn btn-outline-secondary number-choice-yes shadow-none" type="button">Yes</button>
    <button class="btn btn-outline-secondary number-choice-no shadow-none" type="button">No</button>
  </div>

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">symbols?</span>
    <button class="btn btn-outline-secondary symbol-choice-yes shadow-none" type="button">Yes</button>
    <button class="btn btn-outline-secondary symbol-choice-no shadow-none" type="button">No</button>
  </div>

</div>
      <!-- <div class="form-field">
        <label for="pw-length">Password length</label>
        <input class="pw-length input-group mb-3"type="text"id="pw-length">
      </div>
      <div class="form-field">
        <label for="pw-lowercase">Contains lowercase characters?</label>
        <input class="pw-lowercase"type="checkbox"id="pw-lowercase">
      </div>
      <div class="form-field">
        <label for="pw-uppercase">Contains uppercase characters?</label>
        <input class="pw-uppercase"type="checkbox"id="pw-uppercase">
      </div>
      <div class="form-field">
        <label for="pw-numbers">Contains numbers?</label>
        <input class="pw-numbers"type="checkbox"id="pw-numbers">
      </div>
      <div class="form-field">
        <label for="pw-symbols">Contains symbols?</label>
        <input class="pw-symbols"type="checkbox"id="pw-symbols">
      </div> -->
    </form>
    <button class="pw-cancel btn btn-secondary">Cancel</button>
    <button class="pw-generate btn btn-primary">Generate your password</button>
  </div>

</div>

