<div class="modal-bg">

  <div class="modal-content">
    <h3>Customize your password</h3>


    <form class="customize">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Password length:</span>
  </div>
  <div class="col-xs-1">
    <input type="number" inputmode="numeric" min="1" max="64" class="length-input form-control pw-length" id="basic-url" aria-describedby="basic-addon">
  </div>
</div>

<h5>Should your password contain...</h5>

<div class="pw-error"></div>

<div class="input-group mb-3" >
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">lowercase characters?</span>
    <button class="btn btn-outline-secondary choice-yes shadow-none active lower-yes" type="button" aria-pressed="true">Yes</button>
    <button class="btn btn-outline-secondary choice-no shadow-none" type="button" aria-pressed="true">No</button>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">uppercase characters?</span>
    <button class="btn btn-outline-secondary choice-yes shadow-none active upper-yes" type="button" aria-pressed="true">Yes</button>
    <button class="btn btn-outline-secondary choice-no shadow-none" type="button" aria-pressed="true">No</button>
  </div>

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">numbers?</span>
    <button class="btn btn-outline-secondary choice-yes shadow-none active number-yes" type="button" aria-pressed="true">Yes</button>
    <button class="btn btn-outline-secondary choice-no shadow-none" type="button" aria-pressed="true">No</button>
  </div>

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2">symbols?</span>
    <button class="btn btn-outline-secondary choice-yes shadow-none active symbol-yes type="button" aria-pressed="true">Yes</button>
    <button class="btn btn-outline-secondary choice-no shadow-none" type="button" aria-pressed="true">No</button>
  </div>

</div>
    </form>
    <div class="d-flex justify-content-between">
      <button class="modal-cancel btn btn-secondary">Cancel</button>
      <button class="pw-generate btn btn-primary">Generate your password</button>
    </div>
  </div>

</div>

