<div class="container">
  <h3>Customize your password</h3>
  <form class="customize">
    <div class="form-field">
      <label for="pw-length">Password length</label>
      <input class="pw-length"type="text"id="pw-length">
    </div>
    <div class="form-field">
      <label for="pw-lowercase">Contains lowercase characters?</label>
      <input class="pw-lowercase"type="checkbox"id="pw-lowercase">
    </div>
    <div class="form-field">
      <label for="pw-uppercase">Contains uppercase characters?</label>
      <input class="pw-uppercase"type="checkbox"id="pw-uppercase">
    </div>
    <div class="form-field">
      <label for="pw-numbers">Contains numbers?</label>
      <input class="pw-numbers"type="checkbox"id="pw-numbers">
    </div>
    <div class="form-field">
      <label for="pw-symbols">Contains symbols?</label>
      <input class="pw-symbols"type="checkbox"id="pw-symbols">
    </div>
  </form>
  <button class="pw-cancel">Cancel</button>
  <button class="pw-generate">Generate your password</button>
</div>
