<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR - Login</title>
  <%- include('partials/_head') %>
</head>

<body>
  <main class="login">
    <div class="login-title">
      <i class="bi bi-shield-lock-fill text-white" width="10px" height="10px"></i>
      <h2>PasswordKeepR</h2>
    </div>
    <div class="login-container">
      <h1 class="m-4">Login</h1>
      <form action="/login" method="POST">
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-7">
            <input type="email" name="email" id="email" class="form-control" placeholder="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-7">
            <input type="password" name="password" id="password" class="form-control" placeholder="password">
          </div>
        </div>
          <div class="d-flex button-row justify-content-between pt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/register" class="btn btn-secondary">Go To Register</a>
        </div>
      </form>
    </div>
    <% if (locals.errorMsg) {%>
      <div class="alert alert-danger" role="alert">
        <%= errorMsg %>
      </div>
      <% } %>
  </main>
</body>

</html>
