<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepr - New Organisation</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main class="container">
      <div class="d-flex align-items-center">
        <a class="pr-3 text-dark" href="/orgs"><i class="bi bi-arrow-return-left bi-5x" style="font-size: 2rem"></i></a>
        <h1 class="mb-4 mt-3">New Organization</h1>
      </div>
      <% if (locals.error === 'orgExists') {%>
        <div class="alert alert-danger" role="alert">
          Organisation already exists in database
        </div>
      <% }%>
      <form action="/orgs" method="POST" class="justify-content-center">

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Organisation Name:</label>
          <div class="col-sm-9">
            <input type="text" name="org_name" class="form-control" id="inputName" placeholder="Org Name">
          </div>
        </div>

        <div class="button-container">
          <div class="d-flex button-row justify-content-between">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </div>
      </form>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
