<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR - Register</title>
    <%- include('partials/_head') %>
  </head>

  <body>

    <main class="register">
      <div class="register-title">
        <i class="bi bi-shield-lock-fill text-white" width="10px" height="10px"></i>
        <h2>PasswordKeepR</h2>
      </div>
      <div class="register-container">
        <h1>Register</h1>
        <% if (locals.errorMsg) {%>
        <div class="alert alert-danger h-25" role="alert">
          <%= errorMsg %>
        </div>
        <% }%>
        <form class="register-form-container" action="/register" method="POST">
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-7">
              <input type="email" name="email" id="email" class="form-control" placeholder="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label pw">Password</label>
            <div class="col-sm-7">
              <input type="password" name="password" id="password" class="form-control" placeholder="password">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">Confirm password</label>
            <div class="col-sm-7">
              <input type="password" id="confirm-password" class="form-control" placeholder="password">
            </div>
          </div>
          <div class="button-container">
            <div class="button-row">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="/login" class="btn btn-secondary">Login</a>
            </div>
          </div>
        </form>
      </div>
    </main>
  <%- include('partials/_scripts') %>
  </body>
</html>
