.button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.button-row {
  display: flex;
  width: 15em;
  justify-content: end;
  padding-right: .5emr;
}

.delete > .button-row {
  display: flex;
  justify-content: flex-start;
  padding-top: .5em;
}

.generate-button {
  width: 100%;
}

.pw-button {
  width: 40%;
}
