nav {
  background-color: rgba(0,0,0,1.00);
}

.nav-logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0%;
}

.logout-button {
  margin-top: .2em;
}

.welcome-div {
  padding-left: 1em;
  padding-top: .2em;
  padding-right: 2em;
}
