.orgs-main {
  height: 4em;
}

.orgs-footer {
 display: flex;
 justify-content: space-between;
 align-items: center;

  .orgs-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;

    span {
      padding: .5em;
    }
  }

  .orgs-interactions .bi {
    font-size: xx-large;
    padding-right: 1em;
  }
}
