.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(207, 207, 207);
  height: 100vh;

  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26em;
    height: 21em;
    background-color: white;
    margin-top: 4 em;
    border: 1px grey solid;
  }

  form {
    width: 90%;
  }

  .register-title {
    display: flex;
    padding: 2em;
  }

  .alert {
    margin-top: .5em;
  }

  @media only screen and (max-width: 575px) {
    .register-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20em;
      height: 27em;
      background-color: white;
      margin-top: 4 em;
      border: 1px grey solid;
    }
  }
}


